<a href="https://colab.research.google.com/github/priya4-hari/machine-learning/blob/main/finding%20person.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###            **GIVEN THE WEIGHT (IN LBS) AND FOOT SIZE (IN INCHES),PREDICT WHETHER THE PERSON IS A MALE OR FEMALE USING NAIVE BAYES ALGORITHM**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [ ]:
df = pd.read_csv("dataset (1).csv")
df.drop('Height', axis='columns', inplace=True) #Drop Day column as it is not required to build the model
df

    Gender     Weight  Shoe_size
0     Male  176.36960  17.460317
1     Male  154.32340  17.063492
2   Female  132.27720  15.079365
3   Female  119.04948  14.682540
4     Male  143.30030  15.873016
5     Male  198.41580  18.650794
6   Female  141.09568  15.476190
7   Female  154.32340  15.873016
8   Female  121.25410  14.682540
9     Male  165.34650  16.666667
10    Male  187.39270  17.063492
11    Male  154.32340  17.857143
12  Female  110.23100  13.888889
13    Male  149.91416  15.873016
14  Female  123.45872  15.476190
15  Female  125.66334  15.079365
16  Female  130.07258  14.285714
17    Male  167.55112  17.063492
18    Male  176.36960  18.650794
19  Female  123.45872  14.285714
20  Female   99.20790  15.476190
21  Female  105.82176  13.888889
22    Male  123.45872  17.857143
23    Male  152.11878  17.063492
24  Female  132.27720  15.873016
25    Male  154.32340  18.650794
26    Male  176.36960  18.253968
27  Female   94.79866  13.095238
28    Male  110.23100  15.873016

In [ ]:

x=ds.iloc[:,[1,2]].values
y=ds.iloc[:,[0]].values

In [ ]:
# train_test_split() is used for training and testing the dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

In [ ]:
classifier=GaussianNB()
classifier = classifier.fit(x_train,y_train.ravel()) #To achieve better accuracy, fit() adjusts the weight according to the data values
pred = classifier.predict(x_test)
accuracy = accuracy_score(y_test, pred) #Gives the accuracy for the result
print("Accuracy :",accuracy)
print("The person is",classifier.predict([[176,17]])) #Predicts whether it is male or female based on shoe_size and weight

Accuracy : 1.0
The person is ['Male']

**So Finally the person is MALE**