<a href="https://colab.research.google.com/github/priya4-hari/machine-learning/blob/main/find%20play.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING DATASET**

In [ ]:
import pandas as pd
df = pd.read_csv("play_tennis.csv")
df.drop('day', axis='columns', inplace=True) #Drop Day column as it is not required to build the model
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

**LABEL ENCODING**

In [ ]:
from sklearn.preprocessing import LabelEncoder
df[df.columns[:]] = df[df.columns[:]].apply(LabelEncoder().fit_transform)
df.head()

   outlook  temp  humidity  wind  play
0        2     1         0     1     0
1        2     1         0     0     0
2        0     1         0     1     1
3        1     2         0     1     1
4        1     0         1     1     1

**CATEGORISING FEATURES(X) AND TARGET(Y) VARIABLES**

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

**SPLITTING DATASET INTO TRAINING AND TESTING SETS**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=1)
len(X_train)

9

**TRAINING THE MODEL**

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

**MEASURING THE ACCURANCY**

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ",accuracy)

Accuracy:  0.8

**MAKING PREDICTIONS**

In [ ]:
result = model.predict([[2,0,0,0]])
print("Predicted value: ",result)

Predicted value:  [0]

If x=(Outlook=Sunny, Temperature=Cool, Humidity=High, Wind=Strong)

It gives array([0]) which is "No".